@import 'normalize.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar.top {
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: #03A9F4;
  display: none;
}

.sidebars > .sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
  position: fixed;
  color: white;
  padding: 30px;
  font-size: 2em;
  text-align: center;
  z-index: 100;
}

.displaynone {
  margin: auto;
  display: none;
}

.homepage {
  width: 100%;
  height: 100%;
}




.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
  background-color: #252628;
}

.row-fluid {
  height: 100%; 
  display:table-cell; 
  vertical-align: middle;
}

.centering {
  float: left;
  margin: 0 auto;
}

.line {
  width: 2px;
  background: white;
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-animation: dude 2s 1 forwards;
  -moz-animation: dude 2s 1 forwards;
  -o-animation: dude 2s 1 forwards;
  animation: dude 2s 1 forwards;
}

@-webkit-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.myPicture {
  height: 50%;
  z-index: 50;
}

.myIntroduce {
  height: 50%;
  z-index: 50;
}

/* 
  create right box white line border
*/

.rightBoxBorderLine {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.rightBoxBorderLine:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  animation: animate 1s linear forwards;
  z-index: 3;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  
  50% {
    width: 100%;
    height: 0;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.rightBoxBorderLine:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2;
  border: 2px solid transparent;
  animation: animate2 1s linear forwards;
  animation-delay: 1s;
  z-index: 3;
}

@keyframes animate2 {
  0% {
    width: 0;
    border-bottom: 2px solid white;
    
  }
  100% {
    width: 100%;
    border-bottom: 2px solid white;
    
  }
}


/* 
  create left box white line border
*/

.leftBoxBorderLine {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0; 
}

.leftBoxBorderLine:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2;
  border: 2px solid transparent;
  animation: leftbox 1s linear forwards;
}

@keyframes leftbox {
  0% {
    width: 0;
    border-top: 2px solid white;
    
  }
  100% {
    width: 100%;
    border-top: 2px solid white;
    
  }
}

.leftBoxBorderLine:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  animation: leftbox2 1s linear forwards;
  animation-delay: 1s; 
}

@keyframes leftbox2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }
}