@import 'normalize.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar.top {
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: #03A9F4;
  display: none;
}

.sidebars > .sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
  position: fixed;
  color: white;
  padding: 30px;
  font-size: 2em;
  text-align: center;
  z-index: 1;
}

.displaynone {
  margin: auto;
  display: none;
}

.homepage {
  width: 100%;
  height: 100%;
}


.myPicture {
  height: 50%;
  border: 2px solid black;
}

.myIntroduce {
  height: 50%;
  border: 2px solid black;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
  background-color: #252628;
}

.row-fluid {
  height: 100%; 
  display:table-cell; 
  vertical-align: middle;
}

.centering {
  float: left;
  margin: 0 auto;
}

.line {
  width: 2px;
  background: white;
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-animation: dude 2s 1 forwards;
  -moz-animation: dude 2s 1 forwards;
  -o-animation: dude 2s 1 forwards;
  animation: dude 2s 1 forwards;
}

@-webkit-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
