@import 'normalize.css';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebarContainer {
  height: 100%;
}

/* .sidebarButton {
  z-index: 999999;
  position: fixed;
  bottom: 0%;
  left: 50%;
} */

.aboutMeHeight {
  height: 25%;
  background: #f8f8f8;
}  

.sidebar.top {
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  display: none;
  overflow: auto;
}

.sidebars > .sidebar {
  position: fixed;
  color: #323232;
  font-size: 1.5em;
  z-index: 100;
  padding: 3%;
}

.aboutMeIntroduce {
  height: 75%;
  padding: 1.5%;
  background: 	#392e6d;
  color: black;
}

.aboutMeSkillsSection {
  height: 75%;
  background: #392e6d;
}

.aboutMeSkills {
  color: white;
  font-size: 3vw;
  font-family: 'Baloo Bhaijaan', cursive;
  border-bottom: 3px solid white;
  margin-top: 3%;
}

.languagesContent {
  color: #babcc1;
  clear: both;
  width: 100%;
  margin-top: 3%;
}

.skillKind {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 1.7vw;
  width: 38%;
  color: white;
}

.skillLanguages, .skillCMS {
  width: 38%;
}

.skillDatabase {
  width: 38%;
}

.skillName {
  font-size: 1.5vw;
}

.frameworksContent {
  color: white;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 2vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}


.homepage {
  width: 100%;
  height: 100%;
}

.changePosition {
  height: 100%;
  display: table;
  width: 100%;
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  background: white;
  padding: 3%;
}

.displayTable {
  height: 100%; 
  display:table-cell; 
  vertical-align: middle;
  padding: 2%;
  background: white;
}

.centering {
  float: left;
  margin: 0 auto;
}

.aboutMeMiddleLine {
  width: 1px;
  /* background: white; */
  position: absolute;
  top: 35%;
  right: 50%;
  height: 1%;
  /* -webkit-animation: dude 2s 1 forwards;
  -moz-animation: dude 2s 1 forwards;
  -o-animation: dude 2s 1 forwards;
  animation: dude 2s 1 forwards; */
  z-index: 60;
  word-wrap: break-word;
  font-family: monospace;
  white-space: pre-wrap;
  margin-right: 0.4%;
}

.line {
  width: 1px;
  position: absolute;
  top: 34%;
  right: 50%;
  height: 10%;
  background: #323232;
  z-index: 300;

}

.line2 {
  width: 1px;
  position: absolute;
  top: 68%;
  right: 50%;
  height: 30%;
  background: white;
}


@-webkit-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes dude {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.myPicture {
  height: 96%;
  z-index: 10;
}

.myIntroduce {
  height: 96%;
  z-index: 10;
  color: #323232;
}

/* 
  create right box white line border
*/

.rightBoxBorderLine {
  height: 100%;
  width: 100%;
  position: absolute;
  left: -1%;
  z-index: 3;
}

.rightBoxBorderLine:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
  animation: animate 1s linear forwards;
  z-index: -1;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #323232;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #323232;
    z-index: 3;
  }
  
  50% {
    width: 100%;
    height: 0;
    border-top-color: #323232;
    border-right-color: #323232;
    border-bottom-color: transparent;
    border-left-color: transparent;
    z-index: 3;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #323232;
    border-right-color: #323232;
    border-bottom-color: transparent;
    border-left-color: transparent;
    z-index: 3;
  }
}

.rightBoxBorderLine:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2;
  border: 1px solid transparent;
  animation: animate2 1s linear forwards;
  animation-delay: 1s;
  z-index: 3;
}

@keyframes animate2 {
  0% {
    width: 0;
    border-bottom: 1px solid #323232;
    z-index: 3;
  }
  100% {
    width: 100%;
    border-bottom: 1px solid #323232;
    z-index: 3;
  }
}


/* 
  create left box white line border
*/

.leftBoxBorderLine {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0; 
}

.leftBoxBorderLine:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2;
  border: 1px solid transparent;
  animation: leftbox 1s linear forwards;
}

@keyframes leftbox {
  0% {
    width: 0;
    border-top: 1px solid #323232;
    
  }
  100% {
    width: 100%;
    border-top: 1px solid #323232;
    
  }
}

.leftBoxBorderLine:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
  animation: leftbox2 1s linear forwards;
  animation-delay: 1s; 
}

@keyframes leftbox2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #323232;
  }
  
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #323232;
    border-left-color: #323232;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #323232;
    border-left-color: #323232;
  }
}

.typed {
  margin-top: 5%;
  float:left;
  font-size: 4.5vw;
  background-image: url("/public/codePicture.png");
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  display: block;
}

.chrisLee {
  float: left;
  margin-left: 2vw;
}


.typed2 {
  clear:both;
  margin-left: 10%;
  font-size: 3vw;
}

.openButton {
  z-index: 70;
}

.arrow {
  position: fixed;
  width: 2%;
  height: 7%;
  cursor: pointer;
  /* -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin-top: 370%;
  top: 50%;
  right: 650%; */
  left: 48%;
  bottom: 15%;
  z-index: 99999;
  display: block;
}

.arrow2{
  position: fixed;
  width: 2%;
  height: 7%;
  cursor: pointer;
  left: 48%;
  bottom: 0;
  z-index: 999;
  display: block;
}

.downArrow {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.downArrow:first-child {
  animation: move 3s ease-out 1s infinite;
}

.downArrow:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.downArrow:before,
.downArrow:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #323232;
}

.downArrow:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.downArrow:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

#orderFirst, #orderSecond,#orderThrid,#orderFourth,#orderFifth,#orderSixth,#orderSeventh,#orderEighth, #orderNinth, #orderTenth {
  display: none;
}

.aboutMe {
  font-size: 9vw;
  text-align: center;
  color: #323232;
}

.frameWorks {
  font-size: 25px;
  float: left;
}

.frameworks:after, .database:after {
  clear: both;
}

.aboutMeHeader {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 3vw;
  color: white;
  border-bottom: 3px solid white;
  float: left;
}

.aboutMeIntro {
  clear: both;
  font-size: 1.5vw;
  font-family: 'Quicksand', sans-serif;
  margin-top: 13%;
}

.skillsContent {
  list-style-type: none;
}

.skill {
  float: left;
  margin-right: 1%;
  /* display: inline;  */
  font-size: 20px; 
}

.skillDetail {
  color: white;
  cursor: pointer;
}

.education {
  margin-top: 5%;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 3vw;
  color: white;
  border-bottom: 3px solid white;
  float: left;
}

.educationContent {
  margin-top: 2%;
  clear: both;
  font-size: 1.5vw;
  font-family: 'Quicksand', sans-serif;
  color: black;
}

.aboutMeLeftContent {
  text-align: right;
  padding: 0 3%;
}

.database, #orderFifth ,#orderSixth {
  float:left;
}

.project {
  padding: 3%;
}

.projectLeftField, .projectRightField, .projectRow , .project, .scortch, .projectContent {
  height: 100%;
  /* min-height: 100%; */
}
.project {
  background-color: white;
}
.scortch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectName {
  font-size: 13.5rem;
  z-index: 5;
  position: relative;
  margin-left: 97%;
}

.slideContent {
  height: 91%;
}

.chattyName {
  font-size: 13.5rem;
  z-index: 5;
  position: relative;
  margin-left: 94%;
}

.jungleName {
  font-size: 13.5rem;
  z-index: 5;
  position: relative;
  margin-left: 107%;
}

.projectRow {
  background-color: #f8f8f8;
}

.projectRightField {
  background: #ff5851;
  padding: 0;
}

.chattyAppRightField {
  background: #5fa9ea;
  padding: 0;
}

.contactMeRightField {
  padding: 0;
  background: #2e2e2e;
}

.contactMeHeader {
  font-size: 6vw;
  text-align: center;
  color: white;
  margin-top: 2%;
}

.jungleAppRightField {
  background: #a9c853;
  padding: 0;
}
.scortchPicture {
  width: 100%;
  height: auto;
}

.projectContent {
  padding: 0;
}

.scortchContent {
  padding: 0;
  width: 60%;
}

.projectDescription {
  font-size: 4.2vw;
  color: white;
  margin-top: 15%;
  font-family: 'Baloo Bhaijaan', cursive;
  border-bottom: 3px solid white;
}

.projectDescriptionContent {
  width: 95%;
  font-size: 1.5vw;
  /* font-family: "Cabin", sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Montaga', serif; */
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  color: #323232;
  margin-top: 2%;
  margin-left: 3%;
}

.techDescription {
  font-size: 4vw;
  color: white;
  margin-top: 2%;
  font-family: 'Baloo Bhaijaan', cursive;
  /* border-bottom: 1px solid white; */
}

.projectSkillTable {
  width: 100%;
  font-size: 1.8vw;
  margin-left: 8%;
  color: #babcc1;
  font-family: 'Dosis', sans-serif;
  
}

.githubLink {
  position: fixed;
  bottom: 1%;
  left: 72%;
  font-size: 1.5vw;
  color: black;
}

.githubImg {
  position: absolute;
  top: 30%; 
  right: 5%;
  width: 1.2vw;
  height: 1.2vw;
}

.linkdinImg {
  position: absolute;
  top: 30%; 
  right: 7%;
  width: 1.2vw;
  height: 1.2vw;
}

.gmailImg {
  position: absolute;
  top: 30%; 
  right: 9%;
  width: 1.2vw;
  height: 1.2vw;
}
/* 
  hover css
*/
.link-2 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  
}

.link-2::before, .link-2::after {
  content: '';
  position: absolute;
  background-color: #ff5851;
  z-index: -1;
  height: 5%;
}

.link-2::before {
  width: 0%;
  left: 0;
  bottom: 0;
  -webkit-transition: width ease 0.4s;
  transition: width ease 0.4s;
}

.link-2::after {
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.link-2:hover::before {
  width: 100%;
}

.link-2:hover::after {
  left: 100%;
  width: 0%;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

a:hover {
  color: black;
  text-decoration: none;
}

.borderBox {
  width: 100%;
  height: 40%;  
  background: #1c1b20;
  padding: 1vw;
  border-radius: 2.5vw;
  margin-top: 7%;
}

.borderBox2 {
  width: 100%;
  height: 35%;  
  background: #1c1b20;
  padding: 1vw;
  border-radius: 2.5vw;
  margin-top: 12%;
}

/* 
  scroll css
*/

p {
  position: absolute;
  bottom: 0.6%;
  left: 45%;
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: #ffffff;
  -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
          animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}

@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}


/* 
  next/prev slide 
*/
.fp-controlArrow.fp-next {
  right: 0.7%;
  border-width: 1.7vw 0 1.7vw 1.7vw;
  border-color: transparent transparent transparent black;
}

.fp-controlArrow.fp-prev {
  left: 0.5%;
  width: 0;
  border-width: 1.7vw 1.7vw 1.7vw 0;
  border-color: transparent black transparent transparent;
}

.portFolioPicture {
  width: 100%;
  height: 100%;
}

#navbar {
  background: none;
  width: 100%;
  height: 6%;
  top: 0px;
  position: absolute;
  z-index: 100;
}

#footer {
  background: none;
  width: 100%;
  height: 6%;
  bottom: 0px;
  position: absolute;
  z-index: 100;
}


@media only screen and (max-width: 900px) {
  .typed {
    font-size: 60px;
  }
  .typed2 {
    font-size: 40px;
  }
}

/* contact form */
textarea {
  resize: none;
  overflow: auto;
}

input, textarea {
  color: #8d8d8d;
}

textarea:focus, input:focus{
  outline: none;
}

#contactForm {
  text-align: center;
}

.userName, .userEmail {
  width: 30%;
  background: #37393b;
  border: none;
  height: 4vw;
  margin-right: 1%;
  font-size: 1.2vw;
  padding: 2%;
}

.subject, .message {
  margin-top: 2%;
  width: 62%;
  margin-right: 1%;
  background: #37393b;
  border: none;
  height: 4vw;
  font-size: 1.2vw;
  padding: 2%;
}

.message {
  height: 11vw;
}

.sendButton {
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #08fdd8;
  float: left;
  border-radius: 4px;
  background: transparent;
  text-transform: uppercase;
  float: right;
  text-align: center;
  margin-right: 20%;
  margin-top: 1%;
}

.sendButton:hover {
  background: #08fdd8;
  color: #252627;
}




















